---
page_title: "{{.Name}} Resource - {{.ProviderName}}"
subcategory: ""
description: |-
  Manages an Azure Subscription within the Cancom Marketplace.
---

# {{.Name}} (Resource)

Manages an Azure Subscription within the Cancom Marketplace.

## Example Usage

{{ tffile "example/main.tf" }}


